<!DOCTYPE html>
<html lang="en">
<head>
    <h2>GT IPL 2024 SQUAD </h2>

</head>
<body>
    <h2><u>Wicketkeepers:</u></h2>
         <h3>Mathew Wade (AUS), Wriddiman Saha, Robin Minz.</h3>

    <h2><u>Batters:</u></h2>
        <h3> Shubman Gill, David Miller (SA), Abhinav Manohar, Kane Williamson (NZ), Sai Sudharsan.</h3>
    
    <h2><u>All-rounders:</u></h2>
        <h3> Rashid Khan (AFG), Rahul Tewatia, Jayant Yadav, Vijay Shankar, Azmatullah Omarzai
        (AFG), Darshan Nalkande, Shahrukh Khan.</h3>
    
    <h2><u>Bowlers:</u></h2>
        <h3> Mohammed Shami, Umesh Yadav, Josh Little (IRE), R. Sai Kishore, Mohit Sharma, Noor Ahmad
        (AFG), Sushant Mishra, Kartik Tyagi, Manav Suthar, Spencer Johnson (AUS).</h3>
</body>
</html>