<!DOCTYPE html>
<html lang="en">
<head>
    <h2>RCB IPL 2024 SQUAD </h2>

</head>
<body>
   <h2> batters:</h2>

   <h3> Faf Du Plessis, Virat Kohli, Rajat Patidar, Saurav Chauhan (Rs 20 lakh)</h3>
    
   <h2> Wicketkeepers:</h2>
    
    <h3>Anuj Rawat, Dinesh Karthik</h3>
    
   <h2> All Rounders:</h2>
    
   <h3> Glenn Maxwell, Cameron Green, Suyash Prabhudessai, Will Jacks, Mahipal Lomror, Manoj Bhandage, Akash Deep, Swapnil Singh (Rs 20 lakh), Tom Curran (Rs 1.5 cr)</h3>
    
   <h2> Bowlers:</h2>
    
   <h3> Karn Sharma, Mayank Dagar, Mohammed Siraj, Reece Topley, Himanshu Sharma, Rajan Kumar, Vijaykumar Vyshak, Lockie Ferguson (Rs2 cr), Alzarri Joseph (Rs 11.5 cr), Yash Dayal (Rs 5 cr).

    </h3>
    
</body>
</html>