<!DOCTYPE html>
<html lang="en">
<head>
    <h2>LSG IPL 2024 SQUAD </h2>

</head>
<body>
    <h2><u>players :</u></h2>
    <h3>KL Rahul (c), Quinton de Kock, Nicholas Pooran, Ayush Badoni, Kyle Mayers, Marcus Stoinis,
     Deepak Hooda, Devdutt Padikkal, Ravi Bishnoi, Naveen-ul-Haq, Krunal Pandya, Yudhvir Singh,
      Prerak Mankad, Yash Thakur, Amit Mishra, Mark Wood, Mayank Yadav, Mohsin Khan, K. Gowtham,
       Shivam Mavi, Arshin Kulkarni, M. Siddharth, Ashton Turner, David Willey, Mohd. Arshad Khan. </h3>
</body>
</html>