<!DOCTYPE html>
<html lang="en">
<head>
    <h2>DC IPL 2024 SQUAD COMPOSITION</h2>

</head>
<body>
   <h2><u> Wicketkeepers:</u></h2> 
        Rishabh Pant, Tristan Stubbs, Abhishek Porel, Kumar Kushagra, Ricky Bhui, Shai Hope

   <h2><u> Batters:</u></h2>
   <h3> Prithvi Shaw, Harry Brook, Yash Dhull, Swastik Chikara, David Warner</h3>
    
   <h2><u>All-rounders:</u> </h2>
        <h3> Pravin Dubey, Axar Patel, Mitchell Marsh, Lalit Yadav, Vicky Ostwal, Sumit Kumar</h3>
    
    <h2 style="font-style: oblique;"><u> Bowlers:</u></h2>
        <h3> Anrich Nortje, Mukesh Kumar, Khaleel Ahmed, Kuldeep Yadav, Ishant Sharma, Lungi Ngidi,
         Jhye Richardson, Rasikh Salem</h3>
</body>
</html>