<!DOCTYPE html>
<html lang="en">
<head>
    <h2>MI IPL 2024 SQUAD COMPOSITION</h2>

</head>
<body>
   <h2><u> Wicketkeepers:</u></h2> 
   <h3>Ishan Kishan, Vishnu Vinod.</h3>
   
   <h2><u>Batters:</u></h2>
   <h3>Rohit Sharma, Tim David (AUS), Suryakumar Yadav, N. Tilak Varma, Dewald Brevis (SA).</h3>
  
   <h2> <u>All-rounders:</u></h2>
   <h3> Hardik Pandya, Romario Shepherd (WI), Nehal Wadhera, Shams Mulani, Gerald Coetzee (SA), Mohammad Nabi (AFG), Shivalik Sharma, Naman Dhir.</h3>
 
   <h2><u>Bowlers</u></h2>
   <h3> Jasprit Bumrah, Jason Behrendorff (AUS), Kumar Kartikeya, Akash Madhwal, Arjun Tendulkar, Piyush Chawla, Dilshan Madushanka (SL), Nuwan Thushara (SL), Anshul Kamboj, Shreyas Gopal.</h3>
</body>
</html>