<!DOCTYPE html>
<html lang="en">
<head>
    <h2>PK IPL 2024 SQUAD </h2>

</head>
<body>
    <h2><u>Players:</u></h2>
        <h3>Shikhar Dhawan (c), Matthew Short, Prabhsimran Singh, Jitesh Sharma, Sikandar Raza,
        Rishi Dhawan, Liam Livingstone, Atharva Taide, Arshdeep Singh, Nathan Ellis, Sam Curran,
        Kagiso Rabada, Harpreet Brar, Rahul Chahar, Harpreet Bhatia, Vidwath Kaverappa, Shivam 
        Singh, Harshal Patel, Chris Woakes, Ashutosh Sharma, Vishwanath Pratap Singh, Shashank Singh,
        Tanay Thyagarajann, Prince Choudhary, Rilee Rossouw. </h3>
    </body>
</html>