<!DOCTYPE html>
<html lang="en">
<head>
    <h2>RR IPL 2024 SQUAD </h2>

</head>
<body>
    <h2><u>Wicketkeepers:</u></h2>
        <h3> Sanju Samson, Jos Buttler (ENG), Dhruv Jurel, Kunal Rathore, Donovan Ferreira (SA),
        Tom Kohler-Cadmore (ENG).</h3>

    <h2><u>Batters: </u></h2>
        <h3>Shimron Hetmyer (WI), Yashasvi Jaiswal, Riyan Parag, Rovman Powell (WI), Shubham Dubey.</h3>
    
    <h2><u>All-rounders:</u></h2>
        <h3> Ravichandran Ashwin, Abid Mushtaq.</h3>
    
    <h2><u>Bowlers:</u></h2>
        <h3> Trent Boult (NZ), Yuzvendra Chahal, Sandeep Sharma, Navdeep Saini, Kuldeep Sen, Adam Zampa
         (AUS), Nandre Burger (SA), Prasidh Krishna, Avesh Khan.</h3>
</body>
</html>