<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
   <h2>CSK IPL 2024 SQUAD </h2>
   <h2>Wicketkeepers:</h2>
   <h3>
       MS Dhoni, Devon Conway (NZ), Avanish Rao Aravelly.</h3>

    <h2>Batters:</h2>
    <h3> Ruturaj Gaikwad, Shaik Rasheed, Ajinkya Rahane, Sameer Rizvi.</h3>

      <h2>All-rounders:</h2>
      <h3> Moeen Ali (ENG), Shivam Dube, Rajvardhan Hangargekar, Ravindra Jadeja, Mitchell Santner (NZ), Ajay Mandal, Nishant Sindhu, Rachin Ravindra (NZ), Daryl Mitchell (NZ), Shardul Thakur.</h3>
      <h2> Bowlers:</h2>
      <h3> Deepak Chahar, Tushar Deshpande, Matheesha Pathirana (SL), Simarjeet Singh, Prashant Solanki, Maheesh Theekshana (SL), Mustafizur Rahman (BAN), Mukesh Choudhary.</h3>

</body>
</html>