<!DOCTYPE html>
<html lang="en">
<head>
    <h2>SRH IPL 2024 SQUAD COMPOSITION</h2>

</head>
<body>
    <h2><u>Wicketkeepers</u>:</h2>
     Glenn Phillips (NZ), Upendra Singh Yadav, Heinrich Klaasen (SA).

   <h2><u> Batters:</u></h2>
   <h3> Abdul Samad, Aiden Markram (SA), Rahul Tripathi, Mayank Agarwal, Travis Head (AUS), Anmolpreet Singh.</h3>
    
   <h2><u> All-rounders:</u></h2>
   <h3> Washington Sundar, Abhishek Sharma, Shahbaz Ahmed, Sanvir Singh, Nitish Kumar Reddy.</h3>
    
   <h2><u> Bowlers:</u></h2>
   <h3> Bhuvneshwar Kumar, Marco Jansen (SA), Pat Cummins (AUS), T. Natarajan, Mayank Markande, Umran Malik,
     Wanindu Hasaranga (SL), Jaydev Unadkat, Akash Singh, Fazalhaq Farooqi (AFG), Jhathavedh Subramanyan.</h3>
</body>
</html>